<div>
    {{!-- <ul>
        {{#each products}}
        <li>{{title}}</li>
        {{/each}}
    </ul> --}}
    <h1>TEST</h1>
</div>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/real_time_products.js'></script>